<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solution Pages Template</title>
    <script src="https://static.freshcloud.io/fdk/2.0/assets/fresh_client.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.freshdev.io/fdk/2.0/assets/freshdesk.css"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://crayons.freshworks.com/css/crayons-min.css"
    />
  </head>
  <body>
    <h2 class="">Welcome to Solutions Repository Page</h2>
    <div class="header fw-p-24">
      <div class="search-wrapper fw-flex fw-flex-row fw-items-baseline">
        <fw-input
          placeholder="Enter keywords to Search Questions"
          state="normal"
          clear-input
          class="search fw-flex-grow"
        ></fw-input>
        <fw-button> Search </fw-button>
      </div>
      <div class="tags-search-wrapper">
        <fw-select
          label="Tags"
          placeholder="Search with Tags"
          hint-text="Select multiple Tags"
          multiple
        >
        </fw-select>
      </div>
    </div>

    <div class="error"></div>
    <div class="content">
      <div class="suggestions">
        Suggested Tags
        <div class="suggested-tags"></div>
      </div>
      <div class="table"></div>
      <div class="loader">
        <fw-spinner size="medium" color="green"></fw-spinner>
        <fw-skeleton></fw-skeleton>
      </div>
      <div class="fw-flex fw-justify-center fw-p-12">
        <fw-button class="load-more" size="small"> Load More </fw-button>
      </div>
    </div>
  </body>

  <script src="./modal-app.js"></script>
  <script
    type="module"
    src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js"
  ></script>
</html>
